.resource-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;

    @include media-breakpoint-up(sm) {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .col {
        width: 100%;
        min-width: 100%;
        margin-bottom: 30px;

        @include media-breakpoint-up(lg) {
            width: 50%;
            min-width: 50%;
        }
    }

    h3 {
        font-size: 1.3rem;
        border-bottom: 3px solid $color-text;
    }

    h5 {
        font-size: 1.1rem;
    }

    .w-100 {
        margin: 0;
    }
}

.resource-list {
    border: 1px solid $color-text;
    height: 100%;
    padding: 15px;

    ul {
        padding-left: 1.1rem;
    }
}