svg#states {
    display: block;
    margin: 30px 0;
    width: 70%;

    #outlines path {
        fill: $color-secondary;
        position: absolute;
        transition: fill 0.3s ease-in-out;

        &:hover {
            fill: darken($color-secondary, 10%);
        }

        &:active, &.active {
            fill: $color-primary;
            transition: none;
        }
    }
}

#state-info {
    padding: 0 15px;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    width: 30%;
}

.tooltip {
    display: block;
    pointer-events: none;
    position: absolute;
    font-size: 18px;
    text-align: center;
    background: #fff;
    padding: 10px 15px 0;
    z-index: 5;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 0 0 0 1px #eee;
    transform: translateX(-50%);
    display: none;

    &.active {
        display: block;
    }

    &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 100%;
        width: 0;
        height: 0;
        margin-left: -10px;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid white;
    }
}
  
